<footer class="footer">
  <small>
    <a href="#">Blog</a>
    by Martin SAMEK
  </small>
  <nav>
    <ul>
      <li><%= link_to "Info o aplikacii",   '#' %></li>
      <li><%= link_to "Kontakt", '#' %></li>

    </ul>
  </nav>
</footer>